*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
/* body{
  display: grid;
  place-items: center;
  background: #f0f0f0;
} */
.content{
  background-color:gray;
  display:flex;
  align-items:center;
  justify-content:center;
   flex-direction: column;
  padding:40px;
  min-height:100vh;
}
h2{
  padding-bottom:20px;
  color:white;
  text-transform:uppercase;
}
input{
  width:100%;
  border-radius:20px;
  padding:12px;
  outline:none;
  border:none;
}
button{
  margin-top:20px;
  padding:8px;
  background:black;
  color:white;
  cursor:pointer;
}
.message_bx{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color:white;
}
img{
  width:20px;
}